<div class="container">
  <div class="row-fluid">
	<%= @result	%>
	<% if @result == 'good'%>
		<script type="text/javascript">
		var snd = new Audio('c.wav');
		// snd.play();
	  </script>
	<% elsif @result=='bad' %>
		<script type="text/javascript">
		var snd = new Audio('b.wav');
		// snd.play();
	  </script>
	<% end %>
	
		<% @actualTeams = Team.where(year_id:2)%>
		<% @actualTeams.shift%>
		<% @positions = ['C', 'C', '1B', '2B', 'SS', 'MI', '3B',
     'CI','OF1', 'OF2', 'OF3', 'OF4', 'OF5', 'DH',
      'P', 'P', 'P', 'P', 'P', 'P', 'P',
       'P', 'P']%>
		<% @actualTeams.each_with_index do |t, i|%>
			
			<% if i == 4%>
			<div class="span4" style="width: 250px;">
				<div class="span6">
					<%= form_tag({:controller => 'home',
					              :action => 'changeTeam'},{
					             :id => 'teamSelect',:method => 'get'}) do %>
					
					<%= select_tag :posSelect,options_for_select([['All','All'],['C','C'],['1B','1B'],
					['2B','2B'],['SS','SS'],['3B','3B'],
					 ['SP','SP'],['RP','RP'],['OF','OF']], @currentPos), :class => "span12", :onchange =>
					 ("$('#teamSelect').submit()")%>
				</div>
				<div class="span6">
					  <%= select_tag :playerSelect, options_from_collection_for_select(@teams, 'id',
					 'teamName', @currentTeam), :class => "span12", :onchange =>
					 ("$('#teamSelect').submit()")%>
					  <%= select_tag :statSelect,
					 options_for_select([['Value','espnValue'],['AVG','AVG'],['SB','SB'],['R','R'],
					['HR','HR'],['SB','SB'],['ERA','ERA'],
					 ['WHIP','WHIP'],['W','W'],['K','PK'],['SV','SV']], @currentSort), :class => "span12",
					 :onchange =>
					 ("$('#teamSelect').submit()")%>
				</div>
				<% end %>
				<table class="table table-condensed" id="mainTable">
				<tr>
				<th>Name</th><th> 
				
				</th>

				<th>
				</th>
				</tr>
				<% @players.each do |pl| %>
				<% if pl.position.include? 'SP'  or pl.position.include? 'RP'%>
					<% @link = '#pModal'%>
				<% else %>
					<% @link = '#myModal'%>
				<% end %>
				<tr><td><a href="<%=@link%>" role="button" class="open-myModal btn btn-mini btn-primary"
					 data-target="<%=@link%>" data-id="<%= pl.id%>" data-toggle="modal"><%= pl.first%></a></td>
				<td>
					<%= pl.position%>
				</td>
				<td>$<%=pl.espnValue%></td>
				</tr>
				<% end %>
				</table>
					<%= link_to '<i class="icon-wrench"></i>'.html_safe, {:controller => :settings, :action => :loadStuff}, :confirm=>'Are you sure you want to load new players?'%>
		    </div>
				</div>
				<div class="row-fluid">
			<% end %>
			<% if i == 8 %>
				</div>
				<div class="row-fluid">
			<% end %>
			<div class="span2" style="width: 175px;">
			<table class="table table-condensed">
				<th><%= t.teamName %></th><th><%=t.sbcScore%></th><th>$</th>
				<% t.startingLineup.each_with_index do |p,i|%>
					<tr>
						<% if p != nil%>
						<% if p.position.include? 'SP'  or p.position.include? 'RP'%>
							<% @link = '#pModal'%>
						<% else %>
							<% @link = '#myModal'%>
						<% end %>
						<tr><td><a href="<%=@link%>" role="button" class="open-myModal btn btn-mini
							 btn-primary"
							 data-target="<%=@link%>" data-id="<%= p.id%>" data-toggle="modal"><%=
							 p.first%></a></td>						
						<td><%= p.sbcValue%></td>
						<%else%><td></td><td></td>
						<%end%>
						<td><%= @positions[i] %></td>
					</tr>
			
				<% end %>
				<tr><td>
				Available: <%= 260 - t.players.sum(&:sbcValue)	%>
				</tr></td>

				<tr><td>
					Max bid: <%= (260 - t.players.sum(&:sbcValue) - (23 - t.startingLineup.count))%> 				
				</td></tr>
			</table>
			</div>
		<% end %>
			<table class = "table table condensed">
		<% @actualTeams.sort {|b,a| a.sbcScore <=> b.sbcScore}.each do |al|%>

				<tr><td><%= al.teamName%></td><td><%= al.sbcScore%></td></tr>
		<% end%>
			</table>
		</div>
  

	</div>

</div>

<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<div class="row-fluid">
    		<h3 class="span6" id="name">Modal header</h3>
		</div>
  </div>
  <div class="row-fluid">
	  <div class="modal-body">	
			<%= form_for :player,:url=>{:action => :save, :controller=>:players} do |form| %>
	
		<input type="hidden" id="cafeId" value="" />
	
		<div class="row-fluid">
			<%= form.select :teamSelect, options_from_collection_for_select(Team.where(year_id:2), 'id', 'teamName'), {},
			 :class => "span2"%>
			<%= form.select :teamPos, [['C','C'],['1B','1B'],['2B','2B'],['SS','SS'],['3B','3B'],
			 ['P','P'],['OF','OF']], {}, :class => "span1"%>
		  </div>
		<div class="span2">
			<table class="table table-condensed">
				<tr><td>AB:</td><td id="ab" /></tr>
				<tr><td>AVG:</td><td id ="avg" /></tr>
				<tr><td>OPS:</td><td id="ops" /></tr>
				<tr><td>SLG:</td><td id="slg" /></tr>
				<tr><td>R:</td><td id="r" /></tr>
				<tr><td>BB:</td><td id="bb" /></tr>
				<tr><td>K:</td><td id="k" /></tr>
				<tr><td>SB:</td><td id="sb" /></tr>
				<tr><td>HR:</td><td id="hr" /></tr>
				<tr><td>RBI:</td><td id="rbi" /></tr>	
			</table>
						<p id="right">Modal header</p>
		</div>
	
		<div class="span8">
			<div class="span6">
			<%= form.hidden_field :cafeID1, :value => "" %>	
			<%= form.label :notes, "Our Notes:"%>
			<%= form.text_area :notes, :rows => "5", :cols => "10" %>
			</div> <div class="span6">
			<%= form.label :sbcValue, "SBC Value:"%>
			<%= form.text_field :sbcValue %>
			<%= form.label :ourValue, "Our Value:"%>
			<%= form.text_field :ourValue %>
			</div><div class="span12">
			<%= form.label :espnNotes, "ESPN Notes:"%>
			<p id="player_espnNotes" />
			</div>
		</div>
	</div>

	</div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	<%= form.submit "Save", :class => "submit" ,:class =>"btn btn-primary"%>
	<% end %>
  </div>
</div>



<div id="pModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<div class="row-fluid">
    		<h3 class="span6" id="pname">Modal header</h3>
			<h3 class="span6" id="pright">Modal header</h3>
		</div>
  </div>
  <div class="row-fluid">
	  <div class="modal-body">	
			<%= form_for :player,:url=>{:action => :save, :controller=>:players} do |form| %>
	
		<input type="hidden" id="pcafeId" value="" />
		<div class="row-fluid">
			<%= form.select :pteamSelect, options_from_collection_for_select(Team.where(year_id:2), 'id', 'teamName'), {},
			 :class => "span2"%>
			<%= form.select :pteamPos, [], {}, :class => "span1"%>
		  </div>	

		<div class="span3">

			<table class="table table-condensed">
				<tr><td>W:</td><td id="w" /></tr>
				<tr><td>SO:</td><td id ="pk" /></tr>
				<tr><td>BB:</td><td id="pbb" /></tr>
				<tr><td>ERA:</td><td id="era" /></tr>
				<tr><td>WHIP:</td><td id="whip" /></tr>
				<tr><td>SV:</td><td id="sv" /></tr>
				<tr><td>HD:</td><td id="hd" /></tr>
				<tr><td>K9:</td><td id="k9" /></tr>
				<tr><td>G:</td><td id="g" /></tr>
				<tr><td>GS:</td><td id="gs" /></tr>	
			</table>
		</div>
	
		<div class="span8">
			<div class="span6">
			<%= form.hidden_field :pcafeID1, :value => "" %>	
			<%= form.label :pnotes, "Our Notes:"%>
			<%= form.text_area :pnotes, :rows => "5", :cols => "100" %>
			</div><div class="span6">
			<%= form.label :psbcValue, "SBC Value:"%>
			<%= form.text_field :psbcValue %>
			<%= form.label :pourValue, "Our Value:"%>
			<%= form.text_field :pourValue %>
			</div><div class="span12">
			<%= form.label :pespnNotes, "ESPN Notes:"%>
			<p id="player_pespnNotes" />
			</div>
		</div>

	</div>
</div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	<%= form.submit "Save", :class => "submit" ,:class =>"btn btn-primary"%>
	<% end %>
  </div>
</div>




